<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DATABASE_URL</key>
	<string>https://takaffal-default-rtdb.europe-west1.firebasedatabase.app/</string>
	<key>API_KEY</key>
	<string>AIzaSyBmr0Cmk6PPI3GMHLsPfSpnYcTDCS8_jzM</string>
	<key>GCM_SENDER_ID</key>
	<string>960247407740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>polytechnic.Project</string>
	<key>PROJECT_ID</key>
	<string>takaffal</string>
	<key>STORAGE_BUCKET</key>
	<string>takaffal.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:960247407740:ios:23009a04151d38870d95f9</string>
</dict>
</plist>
